<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @package    Optimiseweb_Getclicky
* @author     Kathir Vel (vkathirvel@gmail.com)
* @copyright  Copyright (c) 2015 Kathir Vel
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>

    <tabs>
        <optimisewebconfig translate="label comment" module="getclicky">
            <label>Optimise Web</label>
            <sort_order>0</sort_order>
        </optimisewebconfig>
    </tabs>

    <sections>

        <optimisewebgetclickyconfig translate="label comment" module="getclicky">
            <label>GetClicky Integration</label>
            <tab>optimisewebconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>

                <hint>
                    <frontend_model>getclicky/adminhtml_system_config_fieldset_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>

                <getclickygeneral translate="label comment">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <site_id translate="label comment">
                            <label>Site ID</label>
                            <comment>This can be found by visiting the Preferences >> Info section of the website account from your GetClicky dashboard.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </site_id>
                        <tracker_type translate="label comment">
                            <label>Type of tracker to use</label>
                            <comment>Use 'Default' unless you know what the other options mean.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <source_model>getclicky/system_config_source_trackertypes</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tracker_type>
                        <affiliate_display translate="label comment">
                            <label>Affiliate - Show logo?</label>
                            <comment>Enables or disables the GetClicky image and affiliate link</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </affiliate_display>
                        <affiliate_link translate="label comment">
                            <label>Affiliate Link</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </affiliate_link>
                        <affiliate_badge translate="label comment">
                            <label>Affiliate Badge Image</label>
                            <comment>Note: You may notice there is no "http:" at the beginning of this URL. This is called 'protocol relative'. In this mode, a browser will load the resources with HTTP or HTTPS automatically, depending on the context of the page it's loaded on.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </affiliate_badge>
                        <affiliate_title translate="label comment">
                            <label>Affiliate Link Title</label>
                            <comment>Used as the link 'title' and image 'alt'</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </affiliate_title>
                    </fields>
                </getclickygeneral>

                <goal_checkout_onepage_success translate="label comment">
                    <label>Goal - Onepage Checkout Success</label>
                    <comment>Tracks every successful order that lands on the /checkout/onepage/success/ page.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <goal_type translate="label comment">
                            <label>Goal Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>getclicky/system_config_source_goaltypes</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_type>
                        <goal_name translate="label comment">
                            <label>Goal Name</label>
                            <comment>If using the dynamic goal type, what is your goal name? Default's to 'Onepage Checkout Success' if left blank.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_name>
                        <goal_id translate="label comment">
                            <label>Goal ID</label>
                            <comment>The goal management page in GetClicky lists the ID for each preconfigured goal next to the goal's name.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_id>
                        <goal_revenue translate="label comment">
                            <label>Add Goal Revenue?</label>
                            <comment>Add order 'Grand Toal' as goal revenue?</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_revenue>
                    </fields>
                </goal_checkout_onepage_success>

                <goal_checkout_onepage_entry translate="label comment">
                    <label>Goal - Onepage Checkout Entry</label>
                    <comment>Tracks every landing on the /checkout/onepage/ page.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <goal_type translate="label comment">
                            <label>Goal Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>getclicky/system_config_source_goaltypes</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_type>
                        <goal_name translate="label comment">
                            <label>Goal Name</label>
                            <comment>If using the dynamic goal type, what is your goal name? Default's to 'Onepage Checkout Entry' if left blank.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_name>
                        <goal_id translate="label comment">
                            <label>Goal ID</label>
                            <comment>The goal management page in GetClicky lists the ID for each goal next to the goal's name.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_id>
                    </fields>
                </goal_checkout_onepage_entry>

                <goal_cart_page translate="label comment">
                    <label>Goal - Cart Page</label>
                    <comment>Tracks every landing on the /checkout/cart/ page.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <goal_type translate="label comment">
                            <label>Goal Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>getclicky/system_config_source_goaltypes</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_type>
                        <goal_name translate="label comment">
                            <label>Goal Name</label>
                            <comment>If using the dynamic goal type, what is your goal name? Default's to 'Cart Page' if left blank.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_name>
                        <goal_id translate="label comment">
                            <label>Goal ID</label>
                            <comment>The goal management page in GetClicky lists the ID for each goal next to the goal's name.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goal_id>
                    </fields>
                </goal_cart_page>

                <menu translate="label comment" module="getclicky">
                    <label>Admin Menu Control</label>
                    <comment>
                        <![CDATA[
                        <div class="notice-msg" style="background-image: none!important; padding: 5px;">
                        <p style="margin-bottom: 0;">The 'Optimise Web' menu group acts as a parent menu item for the various modules developed by Optimise Web. Use the following settings if you do not wish to see the link in the admin menu and would rather manually visit the System Config.</p>
                        </div>
                        ]]>
                    </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>999</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <optimiseweball_enabled translate="label tooltip comment" module="getclicky">
                            <label>Enable the 'Optimise Web' Admin menu group?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </optimiseweball_enabled>
                        <getclicky_enabled translate="label tooltip comment" module="getclicky">
                            <label>Enable the 'GetClicky Integration' link from the Admin menu?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </getclicky_enabled>
                    </fields>
                </menu>

            </groups>

        </optimisewebgetclickyconfig>

    </sections>
</config>